/* CineSeat/Client/src/index.css */
@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #4b0082;
  --color-primary-dull: #6a1fa1;
}

* {
  font-family: "Inria Serif", serif;
  scrollbar-width: thin;
  scrollbar-color: #787777 #1e1e1e;
}

body {
  color: #ffffff;
  background-color: #000000;
}

.no-scrollbar {
  scrollbar-width: none;
}

.custom-progress {
  background: #ffffff !important;
  height: 4px !important;
  border-radius: 4px !important;
}

.custom-toast {
  font-family: "Inria Serif", serif !important;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  border-radius: 8px;
  padding: 12px 16px;
}
